.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h2 {
    text-align: center
}

button:active {
    color: red;
}